---
var: 3
---

<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ seo }}
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
        <link rel="stylesheet" href="https://use.typekit.net/hbp8rhy.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/icons/manifest.json">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#333333">
        <link rel="shortcut icon" href="/icons/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Suffolk Libraries">
        <meta name="application-name" content="Suffolk Libraries">
        <meta name="msapplication-TileColor" content="#333333">
        <meta name="msapplication-config" content="/icons/browserconfig.xml">
        <meta name="theme-color" content="#333333">
        {{ if featured_image }}
            {{ glide:featured_image width="1200" }}
                <meta property="og:image" content="{{ site:url }}{{ url }}" />
                <meta name="twitter:image" content="{{ site:url }}{{ url }}" />
            {{ /glide:featured_image }}
        {{ else }}
            {{ glide:global:seo_image width="1200" }}
                <meta property="og:image" content="{{ site:url }}{{ url }}" />
                <meta name="twitter:image" content="{{ site:url }}{{ url }}" />
            {{ /glide:global:seo_image }}
        {{ /if }}
        {{ if environment === 'production' }}
            {{ global:header_scripts }}
        {{ endif }}
    </head>
    <body
        class="tw-relative"
        {{ if collection == 'events' }}
            {{ partial:partial/report_content_alpine }}
        {{ /if }}
    >
        <a class="c-skip-link button button--pink" href="#main">Skip to content</a>

        {{ partial:global/subheader }}

        {{ partial:global/header }}

        <div>
            {{ template_content }}
        </div>

        {{ partial:global/footer }}

        {{ if collection == 'events' }}
            {{ partial:partial/report_content_form }}
        {{ /if }}

        <script>
            var _maps = {
                api: '{{ config:app:google_maps }}',
            };
        </script>
        <script src="{{ mix src='/js/site.js' }}"></script>

        {{ partial:global/footer_scripts }}

    </body>
</html>
