{{ partial:global/page-header/default }}

<form
    class="tw-max-w-2xl tw-mx-auto tw-shadow-brand tw-p-10 tw-flex tw-flex-col tw-gap-4"
    method="POST"
    action="{{ route:password.email }}"
>
    {{ if {session:has key="message"} }}
    <div class="tw-text-lg tw-p-4 tw-border-2 tw-border-brand-teal">
        {{ session:message }}
    </div>

    {{ /endif }}
    {{ csrf_field }}
    {{ partial:partial/honeypot }}

    {{ partial:event-submission-form/text field_label="Email Address*" field_name="email" field_type="email" autocomplete="email" }}

    <button type="submit" class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-ml-auto tw-mr-0 tw-text-white">
        Send Reset Link
    </button>

</form>
