<form method="GET" action="/" class="js-search js-search--{{ full ? 'full' : 'simple' }} o-flow tw-relative">
    <div
        class="tw-hidden tw-absolute tw-z-[99] tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-brand-grey/30 tw-flex tw-justify-center tw-items-start"
        id="loading-state"
    >
        <svg class="tw-animate-spin tw-h-12 tw-w-12 tw-text-brand-pink tw-sticky tw-top-20 tw-mt-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="tw-opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="tw-opacity-100" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>

    <h3 class="h4">Search all events and activities</h3>

  <div class="c-alert js-hidden js-map-alert">
    <p></p>
  </div>

  <button type="button" class="button button--wide button--pink button--round js-location">
    Use your location
  </button>

  <div class="o-flow o-flow--2xs u-relative">
    <label for="autocomplete-location" class="c-label">Or enter your town, village, address or postcode:</label>
    <input id="autocomplete-location" type="text" name="place" value="{{ get:place }}" class="js-map-autocomplete" />
    {{ partial src="global/icon" id="location" }}
  </div>

  {{ if full }}
    <div class="c-events-radius">
      <label for="search-radius">Show me results within </label>
      <select name="radius" id="search-radius">
        <option value="" {{ get:radius == '99' ? 'selected' : '' }}>any distance</option>
        <option value="2" {{ {get:radius == '2' or get:radius == ''} ? 'selected' : '' }}>2 miles</option>
        <option value="5" {{ get:radius == '5' ? 'selected' : '' }}>5 miles</option>
        <option value="10" {{ get:radius == '10' ? 'selected' : '' }}>10 miles</option>
        <option value="30" {{ get:radius == '30' ? 'selected' : '' }}>30 miles</option>
      </select>
    </div>
    <fieldset>
        <legend class="tw-sr-only">Filter Events By Category</legend>
        <ul class="c-tags">
          <li>
            <input type="checkbox" name="category-clear" value="" id="category-clear" {{ if !get:category }}checked{{ /if }} />
            <label class="c-tag c-tag--blue" for="category-clear">All categories</label>
          </li>
          {{ taxonomy from="event_categories" }}
            <li>
              <input type="checkbox" name="category[]" value="{{ slug }}" id="category-{{ slug }}" {{ if get:category | contains:slug }}checked{{ /if }} />
              <label class="c-tag c-tag--blue" for="category-{{ slug }}">{{ title }}</label>
            </li>
          {{ /taxonomy }}
        </ul>
    </fieldset>

    <div class="o-flow o-flow--2xs">
      <p>
        <input type="checkbox" name="free" value="1" id="filter-free" {{ if get:free }}checked{{ /if }} />
        <label for="filter-free">Only show free events</label>
      </p>

      <p>
        <input type="checkbox" name="virtual" value="1" id="filter-virtual" {{ if get:virtual }}checked{{ /if }} />
        <label for="filter-virtual">Only show virtual events</label>
      </p>
    </div>

    {{# <button type="reset" class="u-blue js-clear">
      {{ partial src="global/twi" label="Reset all filters" icon="close" }}
    </button> #}}
  {{ /if }}

  <noscript>
    <div class="u-flex">
      <button type="submit" class="button button--blue button--round button--right">
        {{ partial src="global/twi" label="Find events near you" icon="arrow-right" }}
      </button>
    </div>
  </noscript>

  <input type="hidden" name="lat" value="{{ get:lat }}" />
  <input type="hidden" name="lng" value="{{ get:lng }}" />
  <input type="hidden" name="page" value="1" />

</form>
