<article class="c-event-card c-event-card--{{ orientation or 'horizontal' }}">
  <a class="c-event-card__link" href="{{ url }}">
    <figure class="c-event-card__image">
    {{ img = featured_image ?? global:placeholder_image }}

    {{ if img }}
        <picture>
            <source
                srcset="{{ glide:img h="265" w="400" q="80" fit="contain" format="webp" }}"
                type="image/webp"
            />
            <source
                srcset="{{ glide:img h="265" w="400" q="80" fit="contain" format="jpg" }}"
                type="image/jpg"
            />
            <img
                src="{{ glide:img h="265" w="400" q="80" fit="contain" }}"
                {{ if featured_image:alt }}
                    alt="{{ featured_image:alt }}"
                {{ /if }}
                loading="lazy"
                height="265"
                width="400"
            >
        </picture>
      {{ else }}
        <img src="/img/image-fallback.svg" />
      {{ /if }}
    </figure>
    <div class="c-event-card__content o-flow o-flow--xs step--1">
      <header>
        <h2 class="h4">{{ title }}</h2>
        {{ if organisers | length }}
          <p class="u-dark-grey">By {{ organisers }}{{ index !== 0 ? ' & ' : '' }}{{ title }}{{ /organisers }}</p>
        {{ /if }}
        {{ if free }}<span class="c-event-card__free c-tag">Free</span>{{ /if }}
      </header>
      <div>
        {{ content }}
      </div>
      <ul class="c-event-card__meta">
        <li>
          {{ if start_date | format:Ymd === end_date | format:Ymd }}
            {{ start_date format="D j M Y" }}
          {{ else }}
            {{ start_date format="D j M" }} - {{ end_date format="D j M Y" }}</li>
          {{ /if }}
        </li>
        {{ if address_line_1 }}
        <li>{{ address_line_1 }}{{ town ? ', ' : '' }}{{ town }}</li>
        {{ /if }}
        {{ if virtual }}<li>Virtual event</li>{{ /if }}
      </ul>
    </div>
  </a>
</article>
