<div class="tw-relative {{ wrapper_classes }}">
    <label
        class="tw-text-brand-grey tw-text-base tw-font-medium"
        for="{{ field_name }}"
    >
        {{ field_label }}
    </label>

    <input
        type="{{ field_type ?? 'text' }}"
        name="{{ field_name }}"
        id="{{ field_name }}"
        placeholder=" "
        {{ if old[field_name] }}
            value="{{ old[field_name] }}"
        {{ elseif value }}
            value="{{ value }}"
        {{ /if }}
        class="tw-peer tw-bg-brand-grey/5 tw-px-3 tw-py-2 tw-border-b-2 tw-border-brand-grey/80 motion-safe:tw-transition-colors tw-border-x-0 tw-border-t-0 focus-within:tw-border-brand-teal focus:tw-outline-none tw-text-base tw-text-brand-grey {{ class }}"
        {{ if autocomplete }}
            autocomplete="{{ autocomplete }}"
        {{ /if }}
    >


    {{ if field_description }}
        <span class="tw-text-brand-grey/80 tw-text-sm">{{ field_description }}</span>
    {{ /if }}

    {{ get_error:{field_name} }}
        <div class="tw-text-red-500 tw-text-sm">{{ message }}</div>
    {{ /get_error:{field_name} }}
</div>

