<div class="tw-relative">
    <label
        class="tw-text-brand-grey tw-text-base tw-font-medium"
        for="{{ field_name }}"
    >
        {{ field_label }}
    </label>
    <textarea
        name="{{ field_name }}"
        id="{{ field_name }}"
        placeholder=" "
        rows="4"
        class="tw-min-h-0 tw-peer tw-bg-brand-grey/5 tw-px-3 tw-py-2 tw-border-b-2 tw-border-brand-grey/80 motion-safe:tw-transition-colours tw-border-x-0 tw-border-t-0 focus-within:tw-border-brand-teal focus:tw-outline-none tw-text-base tw-text-brand-grey"
    >{{ if old[field_name] }}{{ old[field_name] }}{{ elseif value }}{{ value }}{{ /if }}</textarea>

    {{ get_error:{field_name} }}
        <div class="tw-text-red-500 tw-text-sm">{{ message }}</div>
    {{ /get_error:{field_name} }}
</div>
