<div class="flex">
    <label class="tw-inline-flex tw-items-center tw-cursor-pointer">
        <span class="tw-mr-2 tw-text-base tw-font-normal tw-text-brand-grey">{{ field_label }}</span>
        <input
            type="checkbox"
            value=""
            class="tw-sr-only tw-peer"
            name="{{ field_name }}"
        >
        <div class="
            tw-relative tw-w-8 tw-h-4 tw-bg-[#F5F5F5] tw-border tw-border-[#F2F2F2] peer-focus:tw-outline-none peer-focus:tw-ring-4 peer-focus:tw-ring-brand-teal tw-rounded-full tw-peer
            peer-checked:after:tw-translate-x-[130%] peer-checked:after:tw-bg-brand-teal peer-checked:tw-bg-[#D4E5D7]
            after:tw-content-[''] after:tw-absolute after:tw-top-[calc(50%-6px)] after:tw-left-[2px] after:tw-bg-[#CBCBCB] after:tw-rounded-full after:tw-h-3 after:tw-w-3 after:tw-transition-all
        "></div>
    </label>
</div>
