
@import "tailwindcss/base";

@import './settings/colours.css';
@import './settings/typography.css';
@import './settings/utopia.css';
@import './settings/spacing.css';
@import './settings/misc.css';

@import './generic/reset.css';
@import './generic/states.css';

@import './elements/typography.css';
@import './elements/buttons.css';
@import './elements/forms.css';
@import './elements/table.css';
@import './elements/misc.css';

@import './objects/wrap.css';
@import './objects/grid.css';
@import './objects/prose.css';
@import './objects/flow.css';
@import './objects/editor.css';

@import './components/alert.css';
@import './components/autocomplete.css';
@import './components/breadcrumb.css';
@import './components/digital.css';
@import './components/disclosure.css';
@import './components/embed.css';
@import './components/event-card.css';
@import './components/events.css';
@import './components/fallback.css';
@import './components/featured.css';
@import './components/filter.css';
@import './components/footer.css';
@import './components/home.css';
@import './components/icon.css';
@import './components/library-cta.css';
@import './components/map.css';
@import './components/newsletter.css';
@import './components/organisers.css';
@import './components/page-header.css';
@import './components/pagination.css';
@import './components/skip-link.css';
@import './components/tab.css';
@import './components/table.css';
@import './components/tag.css';
@import './components/tick-list.css';
@import './components/top.css';
@import './components/twi.css';
@import './components/subheader.css';

@import './utilities/styles.css';
@import './utilities/spacing.css';
@import './utilities/display.css';
@import './utilities/flex.css';
@import './utilities/colours.css';
@import './utilities/typography.css';

@import './ie11.css';

@import "tailwindcss/components";
@import "tailwindcss/utilities";
