.c-organisers {
  background: #282828;
  filter: saturate(0);
  padding: var(--space-m) 0;
  
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0.8;
    justify-content: space-between;
    margin: calc(-1 * var(--space-s));

    & > * {
      margin: var(--space-s);
    }
  }

  img {
    max-height: 88px;
    max-width: 176px;
  }
}