.c-skip-link {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;

  &:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
  }
}