.c-tab {
  &:not(.c-tab--active) {
    display: none;
  }
}

.c-tab-trigger {
  display: inline-flex;
  padding:  0.375em 0.75em;
  font-size: var(--step--1);
  align-items: center;

  .c-icon {
    color: var(--blue);
    margin-right: var(--space-xs);
    font-size: 24px;

    svg {
      flex-shrink: 0;
    }
  }

  &[aria-expanded="true"] {
    background: var(--lightest-blue);
  }
}
