.c-top {
  position: relative;
  padding-top: var(--space-xs-m);

  &_logo {
    width: 40vw;
    min-width: 150px;
    max-width: 386px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
      width: 51.5544%;
    }

    img + img {
      width: 45.0777%;
    }
  }

  &_search-trigger {
    display: none;
  }

  .c-icon--menu,
  .c-icon--close {
    color: var(--purple);
  }

  .c-navicon {
    display: inline-flex;
    align-items: center;

    span {
      font-size: var(--step--1);
      color: var(--purple);
      margin-right: 0.5em;
    }
  }

  .button--orange {
    padding: 0.375rem 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
  }

  &_search {
    position: relative;

    input {
      background: var(--lightest-grey);
      border-radius: 2em;
      border: none;
      padding: 0.375rem 3rem 0.375rem 1rem;
      height: 2.75rem;
    }

    [type="submit"] {
      transform: translateY(-50%);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  &_login {
    display: none;
  }

  &_secondary {
    display: grid;
    grid-gap: var(--space-xs);
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: var(--space-xs);
    justify-items: end;
    height: 2.75rem;

    @media (min-width: 48em) {
      margin-bottom: calc(-0.875 * var(--space-s));
    }
  }

  &_lockup {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: end;

    font-size: var(--step--1);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }

  @media (max-width:25em) {
    &_nav {
      opacity: 0;
    }
  }

  &_nav,
  &_more {
    --top-nav-padding: 0.666rem 0;
    --top-nav-height: 2.25rem;

    text-align: right;
    height: var(--top-nav-height);

    @media (min-width: 40em) {
      --top-nav-padding: 1rem 0;
      --top-nav-height: 3.25rem;
    }
  }

  &_nav-overlay {
    position: absolute;
    background: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid var(--purple);
    width: 100%;
    left: 0;
    top: 100%;
    margin-top: -1px;
    padding: var(--space-xs) var(--gutter);
    display: none;
    z-index: 100;
    
    &.target,
    &:target  {
      display: block;
    }

    a {
      display: block;
      padding: 0.666rem 0;
    }

    @media (min-width: 35em) {
      width: auto;
      left: auto;
      right: var(--gutter);
      white-space: nowrap;
      padding-right: var(--space-m-l);
      padding: var(--space-xs) var(--space-s);
      background: var(--white);
      margin-top: 0;

      li + li {
        border-top: 1px solid var(--lightest-grey);
        
        a {
          padding-right: var(--space-m-l);
        }
      }
    }
  }

  &_nav {
    overflow: hidden;
    padding-left: var(--space-xs-m);

    li {
      display: inline-block;
    }

    a {
      padding: var(--top-nav-padding);
      display: block;
    }

    li + li {
      margin-left: var(--space-xs-s);
    }
  }

  &_more {
    padding: var(--top-nav-padding);
    margin-left: var(--space-xs-s);
    width: 3.15em;
    white-space: nowrap;
    text-align: left;
    color: var(--dark-grey);
    text-transform: none;
  }

  body:not(.search-open) &_search {
    display: none;
  }

  body:not(.search-open) &_search-trigger {
    display: block;
  }
}