{{ event_categories = {taxonomy:event_categories} }}
{{ organisers = {taxonomy:organisers} }}

{{ partial:users/dashboard/layout disable_header_line="true" }}
    {{ if {session:has key="success"} }}
        <div class="tw-text-lg tw-p-4 tw-border-2 tw-border-brand-teal tw-mb-4">
            {{ session:success }}
        </div>
    {{ /endif }}

    <form
        action="{{ route:user.dashboard.my-events.update :entryId="entry.id" }}"
        method="POST"
        class="event-submission-form tw-flex tw-flex-col tw-gap-4"
        enctype="multipart/form-data"
        x-data="{
            saveDraft: false,
            publish: false,
            saveAsDraft() {
                this.saveDraft = true
                this.publish = false
            },
            publishEvent() {
                this.saveDraft = false
                this.publish = true
            },
            handleSubmit(event) {
                if(this.saveDraft) {
                    this.$refs.form.action = '{{ route:user.dashboard.my-events.update-draft :entryId="entry.id" }}'
                }
                this.$refs.form.submit()
            }
        }"
        x-ref="form"
        @submit.prevent="handleSubmit"
    >
        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-end tw-mb-10">
            <button
                type="submit"
                @click="saveAsDraft"
                class="tw-bg-brand-grey/5 tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-text-brand-grey tw-flex tw-gap-2 tw-items-center tw-border tw-border-brand-grey/10 hover:tw-bg-brand-grey/20 motion-safe:tw-transition-colors"
            >
                {{ svg:save class="tw-w-3 tw-h-3" }}
                Save as draft
            </button>

            <button
                type="submit"
                @click="publishEvent"
                class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-text-white tw-flex tw-gap-2 hover:tw-bg-brand-pink-dark motion-safe:tw-transition-colors"
            >
                Publish Event
            </button>
        </div>
        {{ csrf_field }}
        {{ partial:partial/form_method method="post" }}
        {{ partial:partial/honeypot }}

        <input type="hidden" name="save_draft" x-model="saveDraft">
        <input type="hidden" name="publish" x-model="publish">


        {{ partial:event-submission-form/section section_title="Event Information" }}
            {{ partial:event-submission-form/text field_label="Event Title*" field_name="title" :value="entry.title" }}

            {{ partial:event-submission-form/textarea field_label="Description" field_name="description" :value="entry.content | strip_tags"  field_description="Sub-headline for the event"}}

            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
                {{ partial:event-submission-form/datetime
                    min="{now | format='Y-m-d\\TH:i'}"
                    :value="entry.start_date"
                    field_label="Start Time*"
                    field_name="start"
                }}

                {{ partial:event-submission-form/datetime
                    min="{now | format='Y-m-d\\TH:i'}"
                    :value="entry.end_date"
                    field_label="End Time*"
                    field_name="end"
                }}
            </div>

        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Event Options" }}

            {{ partial:event-submission-form/toggle field_label="Free Event" field_name="free" :value="entry.free" }}

            {{ partial:event-submission-form/toggle field_label="Virtual Event" field_name="virtual" :value="entry.virtual" }}

            {{ partial:event-submission-form/text field_label="Cost Details" field_name="cost_details" field_description="e.g. £5" :value="entry.cost_details" }}

            {{ partial:event-submission-form/textarea field_label="Attendance Information" field_name="attendance_information" :value="entry.attendance_information | strip_tags"  field_description="e.g. Age range" }}


            {{ partial:event-submission-form/textarea field_label="Accessibility Information" field_name="accessibility_information" :value="entry.accessibility_information | strip_tags" }}

        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Location" }}
            {{ partial:event-submission-form/text field_label="Search for a location..." field_name="location_autocomplete" }}

            <div class="mt-4 tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
                {{ partial:event-submission-form/text field_label="Address Line 1*" field_name="address_line_1" autocomplete="off" :value="entry.address_line_1" }}
                {{ partial:event-submission-form/text field_label="Address Line 2" field_name="address_line_2" autocomplete="off" :value="entry.address_line_2" }}
                {{ partial:event-submission-form/text field_label="Town*" field_name="town" autocomplete="off" :value="entry.town" }}
                {{ partial:event-submission-form/text field_label="Post Code*" field_name="postcode" autocomplete="off" :value="entry.postcode" }}
            </div>


            <input
                type="hidden"
                name="lat"
                {{ if old:lat }}
                    value="{{ old:lat }}"
                {{ elseif entry.lat }}
                    value="{{ entry.lat }}"
                {{ /if }}
            >
            <input
                type="hidden"
                name="lng"
                {{ if old:lng }}
                    value="{{ old:lng }}"
                {{ elseif entry.lng }}
                    value="{{ entry.lng }}"
                {{ /if }}
            >

        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Content" }}
            {{ partial:event-submission-form/wysiwyg id="editorjs" field_name="content" field_label="Content Area" :value="event_content" }}
        {{ /partial:event-submission-form/section }}


        {{ partial:event-submission-form/section section_title="Call to action" }}
            {{ partial:event-submission-form/url field_label="Booking Link" field_name="booking_link" :value="entry.booking_link" }}
            {{ partial:event-submission-form/textarea field_label="How to Book" field_name="cta" :value="entry.cta | strip_tags" }}
        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Event Categories" }}
            {{ partial:event-submission-form/multiselect
                :options="event_categories"
                field_name="categories"
                :value="categories"
            }}
        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Organisers" }}
            {{ partial:event-submission-form/multiselect
                :options="organisers"
                field_name="organisers"
                :value="event_organisers"
            }}
        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Featured Image" }}
            {{ partial:event-submission-form/image
                field_name="image"
                field_label="Upload a featured image"
                :value="entry.featured_image"
            }}
            {{ partial:event-submission-form/text
                field_label="Image Alternative Text"
                field_name="alternative_text"
                field_description="Alternative text is a brief description of the image for accessibility and SEO purposes. It helps people who can't see the image understand its content. If left blank, it will default to the event title."
                :value="entry.featured_image:alt"
            }}
        {{ /partial:event-submission-form/section }}

        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-end tw-mb-10">
            <button
                type="submit"
                @click="saveAsDraft"
                class="tw-bg-brand-grey/5 tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-text-brand-grey tw-flex tw-gap-2 tw-items-center tw-border tw-border-brand-grey/10 hover:tw-bg-brand-grey/20 motion-safe:tw-transition-colors"
            >
                {{ svg:save class="tw-w-3 tw-h-3" }}
                Save as draft
            </button>

            <button
                type="submit"
                @click="publishEvent"
                class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-text-white tw-flex tw-gap-2 hover:tw-bg-brand-pink-dark motion-safe:tw-transition-colors"
            >
                Publish Event
            </button>
        </div>
    </form>
{{ /partial:users/dashboard/layout }}
