{{ event_categories = {taxonomy:event_categories} }}
{{ organisers = {taxonomy:organisers} }}

{{ partial:users/dashboard/layout disable_header_line="true" }}
    {{ if {session:has key="success"} }}
        <div class="tw-text-lg tw-p-4 tw-border-2 tw-border-brand-teal tw-mb-4">
            {{ session:success }}
        </div>
    {{ /endif }}

    <form
        action="{{ route:user.dashboard.my-events.update :entryId="entry.id" }}"
        method="POST"
        class="event-submission-form tw-flex tw-flex-col tw-gap-4 tw-relative"
        enctype="multipart/form-data"
        x-data='{
            saveDraft: false,
            publish: false,
            saving: false,
            saveAsDraft() {
                this.saveDraft = true
                this.publish = false
            },
            publishEvent() {
                this.saveDraft = false
                this.publish = true
            },
            handleSubmit(event) {
                this.saving = true
                this.$refs.form.submit()
            }
        }'
        x-ref="form"
        @submit.prevent="handleSubmit"
    >
        {{ partial:users/dashboard/loading-state }}

        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-end tw-mb-10">
            <button
                type="submit"
                class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-text-white tw-flex tw-gap-2 tw-items-center hover:tw-bg-brand-pink-dark motion-safe:tw-transition-colors"
            >
                {{ svg:save class="tw-w-3 tw-h-3" }}
                Save
            </button>
        </div>
        {{ csrf_field }}
        {{ partial:partial/form_method method="post" }}
        {{ partial:partial/honeypot }}


        {{ partial:event-submission-form/section section_title="Event Information" }}
            {{ partial:event-submission-form/text field_label="Event Title*" field_name="title" :value="entry.title" }}

            {{ partial:event-submission-form/textarea field_label="Description" field_name="description" :value="entry.content | strip_tags"  field_description="A short sentence to promote your event, e.g. Join us at Chantry Library for a day of family fun and celebrating nature."}}

            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
                {{ partial:event-submission-form/datetime
                    min="{now | format='Y-m-d\\TH:i'}"
                    :value="old:start ?? entry.start_date"
                    field_label="Start Time*"
                    field_name="start"
                }}

                {{ partial:event-submission-form/datetime
                    min="{now | format='Y-m-d\\TH:i'}"
                    :value="old:end ?? entry.end_date"
                    field_label="End Time*"
                    field_name="end"
                }}
            </div>

        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Event Options" }}

            {{ partial:event-submission-form/toggle field_label="Free Event" field_name="free" :value="entry.free" }}

            {{ partial:event-submission-form/toggle field_label="Virtual Event" field_name="virtual" :value="entry.virtual" }}

            {{ partial:event-submission-form/text field_label="Cost Details" field_name="cost_details" field_description="e.g. £5 per person, £40 per term, £4 including refreshments" :value="entry.cost_details" }}

            {{ partial:event-submission-form/textarea field_label="Attendance Information" field_name="attendance_information" :value="entry.attendance_information | strip_tags"  field_description="Who is your event for? E.g. Family friendly, toddlers and their care-givers, over 18s only" }}


            <div>
                <label
                    class="tw-text-brand-grey tw-text-base tw-font-medium"
                    for="accessibility_information"
                >
                    Accessibility Information
                </label>
                <div class="tw-flex tw-flex-col tw-gap-2">
                    {{ foreach:accessibility_info_options as="option|label" }}
                        <label class="tw-text-base tw-flex tw-items-center tw-justify-start tw-gap-1 tw-w-max">
                            <input
                                type="checkbox"
                                name="accessibility_information[]"
                                value="{{ option }}"
                                {{ if entry:accessibility_information | pluck('value') | contains(option) }}checked{{ /if }}
                                class="custom tw-w-auto"
                            >
                            {{ label !== null ? label : option }}
                        </label>
                    {{ /foreach:accessibility_info_options }}
                </div>
            </div>

            {{ partial:event-submission-form/textarea
                field_label="Additional access information"
                field_name="additional_access_information"
                field_description="Describe any additional access information, e.g. Please note the event is only accessible via a steep staircase, this event is outdoors so the ground may be uneven"
            }}

        {{ /partial:event-submission-form/section }}

        {{ partial:users/dashboard/my-events-addresses }}

        {{ partial:event-submission-form/section section_title="Content" }}
            {{ partial:event-submission-form/wysiwyg id="editorjs" field_name="content" field_label="Content Area" :value="event_content" }}
        {{ /partial:event-submission-form/section }}


        {{ partial:event-submission-form/section section_title="Call to action" }}
            {{ partial:event-submission-form/url field_label="Booking Link" field_name="booking_link" :value="entry.booking_link" placeholder="https://example.com" }}
            {{ partial:event-submission-form/textarea field_label="Booking instructions" field_name="cta" :value="entry.cta | strip_tags" }}
        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Event Categories" }}
            {{ partial:event-submission-form/multiselect
                :options="event_categories"
                field_name="categories"
                :value="categories"
            }}
        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Organisers" }}
            {{ partial:event-submission-form/multiselect
                :options="organisers"
                field_name="organisers"
                :value="event_organisers"
            }}
        {{ /partial:event-submission-form/section }}

        {{ partial:event-submission-form/section section_title="Featured Image" }}
            {{ partial:event-submission-form/image
                field_name="image"
                field_label="Upload a featured image"
                :value="entry.featured_image"
            }}
            {{ partial:event-submission-form/text
                field_label="Image Alternative Text"
                field_name="alternative_text"
                field_description="Alternative text is a brief description of the image for people who use a screen reader. If you leave this space blank, the alternative text will be the image file name."
                :value="entry.featured_image:alt"
            }}
        {{ /partial:event-submission-form/section }}

        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-end tw-mb-10">
            <button
                type="submit"
                class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-text-white tw-flex tw-gap-2 tw-items-center hover:tw-bg-brand-pink-dark motion-safe:tw-transition-colors"
            >
                {{ svg:save class="tw-w-3 tw-h-3" }}
                Save
            </button>
        </div>
    </form>
{{ /partial:users/dashboard/layout }}
