{{ partial:users/dashboard/layout content_title="My Organisation" }}
    {{ if {session:has key="success"} }}
        <div class="tw-text-lg tw-p-4 tw-border-2 tw-border-brand-teal tw-mb-4">
            {{ session:success }}
        </div>
    {{ /endif }}

    <form action="{{ route:user.dashboard.my-organisation.update }}" method="POST" class="tw-flex tw-flex-col tw-gap-4">
        {{ csrf_field }}
        {{ partial:partial/honeypot }}

        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
            {{ partial:event-submission-form/text :value="user.organisation_name" field_name="organisation_name" field_label="Name*" }}
            {{ partial:event-submission-form/text :value="user.organisation_email" field_name="organisation_email" field_label="Email*" field_type="email" }}
            {{ partial:event-submission-form/text :value="user.organisation_tel" field_name="organisation_tel" field_label="Tel" }}
            {{ partial:event-submission-form/url :value="user.organisation_website" field_name="organisation_website" field_label="Website" }}
        </div>

        <button type="submit" class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-ml-auto tw-mr-0 tw-text-white">
            Save
        </button>
    </form>
{{ /partial:users/dashboard/layout }}
