{{ partial:users/dashboard/layout content_title="Create Address" }}
    {{ if {session:has key="success"} }}
        <div class="tw-text-lg tw-p-4 tw-border-2 tw-border-brand-teal tw-mb-4">
            {{ session:success }}
        </div>
    {{ /endif }}

    <form
        action="{{ route:user.dashboard.saved-addresses.store }}"
        method="POST"
        class="event-submission-form tw-flex tw-flex-col tw-gap-10"
    >
        {{ csrf_field }}
        {{ partial:partial/honeypot }}

        {{ partial:event-submission-form/text field_label="Name*" field_name="name" }}

        {{ partial:event-submission-form/text field_label="Search for a location..." field_name="location_autocomplete" }}

        <div class="mt-4 tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
            {{ partial:event-submission-form/text field_label="Address Line 1*" field_name="address_line_1" autocomplete="off" }}
            {{ partial:event-submission-form/text field_label="Address Line 2" field_name="address_line_2" autocomplete="off" }}
            {{ partial:event-submission-form/text field_label="Town*" field_name="town" autocomplete="off" }}
            {{ partial:event-submission-form/text field_label="Post Code*" field_name="postcode" autocomplete="off" }}
        </div>


        <input
            type="hidden"
            name="lat"
            {{ if old:lat }}
                value="{{ old:lat }}"
            {{ /if }}
        >
        <input
            type="hidden"
            name="lng"
            {{ if old:lng }}
                value="{{ old:lng }}"
            {{ /if }}
        >

        <button type="submit" class="tw-bg-brand-pink motion-safe:tw-transition-colors hover:tw-bg-brand-pink-dark tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-ml-auto tw-mr-0 tw-text-white">
            Save Address
        </button>
    </form>

{{ /partial:users/dashboard/layout }}
