.u-blue { color: var(--blue); }
.u-purple { color: var(--purple); }
.u-green { color: var(--green); }
.u-light-grey { color: var(--light-grey); }
.u-mid-grey { color: var(--mid-grey); }
.u-dark-grey { color: var(--dark-grey); }
.u-black { color: var(--black); }
.u-lightest-grey { color: var(--lightest-grey); }
.u-white { color: var(--white); }
.u-yellow { color: var(--yellow); }
.u-red { color: var(--red); }
.u-teal { color: var(--teal); }
.u-suede { color: var(--suede); }
.u-orange { color: var(--orange); }
.u-pink { color: var(--pink); }
.u-hot-pink { color: var(--hot-pink); }
.u-light-blue { color: var(--light-blue); }

.u-bg-blue { background-color: var(--blue); }
.u-bg-purple { background-color: var(--purple); }
.u-bg-green { background-color: var(--green); }
.u-bg-light-grey { background-color: var(--light-grey); }
.u-bg-mid-grey { background-color: var(--mid-grey); }
.u-bg-dark-grey { background-color: var(--dark-grey); }
.u-bg-black { background-color: var(--black); }
.u-bg-lightest-grey { background-color: var(--lightest-grey); }
.u-bg-white { background-color: var(--white); }
.u-bg-yellow { background-color: var(--yellow); }
.u-bg-red { background-color: var(--red); }
.u-bg-teal { background-color: var(--teal); }
.u-bg-suede { background-color: var(--suede); }
.u-bg-orange { background-color: var(--orange); }
.u-bg-pink { background-color: var(--pink); }
.u-bg-hot-pink { background-color: var(--hot-pink); }
.u-bg-light-blue { background-color: var(--light-blue); }
