.u-keyline {
  padding-top: var(--space-s);
  border-top: 1px solid var(--light-grey);

  &--m-l {
    padding-top: var(--space-s-m);
    margin-top: var(--space-m-l);
  }

  &--lightest {
    border-top-color: var(--lightest-grey);
  }
}

.u-keyline--orange {
  border-top-color: var(--orange);
}

.u-shadow {
  box-shadow: var(--shadow);
}

.u-uppercase {
  text-transform: uppercase;
  font-size: var(--step--1);
  letter-spacing: 0.05em;
  font-weight: 700;
}

.u-card-like {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: var(--space-s) var(--space-s-m);

  p a {
    color: var(--blue);
    text-decoration: underline;
    position: relative;
    z-index: 2;
  }

  .u-fill {
    z-index: 1;
  }

  &--bordered {
    position: relative;
    overflow: hidden;

    :focus {
      outline-offset: -3px;
    }

    &:after {
      content: '';
      background: var(--purple);
      position: absolute;
      width: var(--space-xs);
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

.u-screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.u-fill,
.u-fill-after:after {
  content: '';
  --flow: 0;
  margin-top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.u-fill-after:after {
  z-index: 5;
}

.u-link {
  color: var(--blue);
  text-decoration: underline;
}

.u-object-fit {
  object-fit: cover;
}

.u-fallback {
  background: var(--accent);
}

.u-no-wrap {
  white-space: nowrap;
}

.u-relative {
  position: relative;
}

.u-lift {
  position: relative;
  z-index: 1;
}

.u-spacer:before {
  content: '•';
  margin: 0 0.25em;
}

.u-loading {
  width: 170px;
  text-align: center;
  margin: var(--space-l) auto 0;
}

.u-underline {
  text-decoration: underline;
}
