.u-line-height--large { line-height: var(--line-height-large); }
.u-line-height--medium { line-height: var(--line-height-medium); }
.u-line-height--small { line-height: var(--line-height-small); }

.u-bold {
  font-weight: bold;
}

.u-text-align-center {
  text-align: center;
}

.u-font {
  font-family: var(--font-stack);
  font-weight: var(--font-weight);
}
