{{ event_categories = {taxonomy:event_categories} }}
{{ organisers = {taxonomy:organisers} }}

<form
    action="{{ route:event-submission.store }}"
    method="POST"
    enctype="multipart/form-data"
    class="event-submission-form tw-max-w-[832px] tw-mx-auto tw-shadow-brand tw-p-10 tw-flex tw-flex-col tw-gap-10"
>
    {{ if {session:has key="success"} }}
        <div class="tw-text-lg tw-p-4 tw-border-2 tw-border-brand-teal">
            {{ session:success }}
        </div>
    {{ /endif }}

    {{ csrf_field }}
    {{ partial:partial/honeypot }}

    {{ partial:event-submission-form/section section_title="Event Information" }}
        {{ partial:event-submission-form/text field_label="Event Title*" field_name="title" }}

        {{ partial:event-submission-form/textarea field_label="Description" field_name="description" field_description="Sub-headline for the event" }}


        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
            {{ partial:event-submission-form/datetime
                min="{now | modify_date('+1 day') | format='Y-m-d\\TH:i'}"
                value="{old:start ? old:start : {now | format='Y-m-d\\TH:i'}}"
                field_label="Start Time*"
                field_name="start"
            }}

            {{ partial:event-submission-form/datetime
                min="{now | modify_date('+1 hour') | format='Y-m-d\\TH:i'}"
                value="{old:end ? old:end : {now | format='Y-m-d\\TH:i'}}"
                field_label="End Time*"
                field_name="end"
            }}
        </div>

    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Event Options" }}

        {{ partial:event-submission-form/toggle field_label="Free Event" field_name="free" }}

        {{ partial:event-submission-form/toggle field_label="Virtual Event" field_name="virtual" }}

        {{ partial:event-submission-form/text field_label="Cost Details" field_name="cost_details" field_description="e.g. £5" }}

        {{ partial:event-submission-form/textarea field_label="Audience Information" field_name="attendance_information" field_description="e.g. Age range" }}

        {{ partial:event-submission-form/textarea field_label="Accessibility Information" field_name="accessibility_information" }}

    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Location" }}
        {{ partial:event-submission-form/text field_label="Search for a location..." field_name="location_autocomplete" }}

        <div class="mt-4 tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
            {{ partial:event-submission-form/text field_label="Address Line 1*" field_name="address_line_1" autocomplete="off" }}
            {{ partial:event-submission-form/text field_label="Address Line 2" field_name="address_line_2" autocomplete="off" }}
            {{ partial:event-submission-form/text field_label="Town*" field_name="town" autocomplete="off" }}
            {{ partial:event-submission-form/text field_label="Post Code*" field_name="postcode" autocomplete="off" }}
        </div>


        <input
            type="hidden"
            name="lat"
            {{ if old:lat }}
                value="{{ old:lat }}"
            {{ /if }}
        >
        <input
            type="hidden"
            name="lng"
            {{ if old:lng }}
                value="{{ old:lng }}"
            {{ /if }}
        >

    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Content" }}
        {{ partial:event-submission-form/wysiwyg id="editorjs" field_name="content" field_label="Content Area" }}
    {{ /partial:event-submission-form/section }}


    {{ partial:event-submission-form/section section_title="Call to action" }}
        {{ partial:event-submission-form/url field_label="Booking Link" field_name="booking_link" placeholder="https://example.com" }}
        {{ partial:event-submission-form/textarea field_label="How to Book" field_name="cta" }}
    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Event Categories" }}
        {{ partial:event-submission-form/multiselect :options="event_categories" field_name="categories" }}
    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Organisers" }}
        {{ partial:event-submission-form/multiselect :options="organisers" field_name="organisers" }}
    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Featured Image" }}
        {{ partial:event-submission-form/image field_name="image" field_label="Upload a featured image" }}
        {{ partial:event-submission-form/text
            field_label="Image Alternative Text"
            field_name="alternative_text"
            field_description="Alternative text is a brief description of the image for accessibility and SEO purposes. It helps people who can't see the image understand its content. If left blank, it will default to the event title."
        }}
    {{ /partial:event-submission-form/section }}

    {{ partial:event-submission-form/section section_title="Your Details" }}
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
            {{ partial:event-submission-form/text field_label="Name*" field_name="name" autocomplete="name" }}

            {{ partial:event-submission-form/text field_label="Email Address*" field_name="email" field_type="email" autocomplete="email" }}
        </div>

    {{ /partial:event-submission-form/section }}


    <button type="submit" class="tw-bg-brand-pink tw-text-base tw-font-bold tw-py-2 tw-px-4 tw-rounded-full tw-ml-auto tw-mr-0 tw-text-white">
        Submit
    </button>
</form>
