{{ global }}
  <footer class="c-footer" role="contentinfo">
    <div class="c-footer_primary">
      <div class="o-wrap">
        <div class="o-grid o-grid--page-reverse">
          <div class="o-flow">
            <div class="o-flow o-flow--xs">
              <h3>Follow us</h3>
              <ul class="c-footer_social">
                {{ social_links }}
                  <li>
                    <a href="{{ link }}" aria-label="Suffolk Libraries on {{ icon }}">
                      {{ partial:global/icon :id="icon" }}
                    </a>
                  </li>
                {{ /social_links }}
              </ul>
            </div>

            <div class="o-flow o-flow--xs c-footer_newsletter">
              <h3>Stay in the loop</h3>
              {{ newsletter_embed }}
            </div>

            <div class="o-flow o-flow--xs">
              <h3>{{ footer_links_title }}</h3>
              <ul>
              {{ footer_links }}
                <li><a href="{{ url }}">{{ text }}</a></li>
              {{ /footer_links }}
              </ul>
            </div>
          </div>
          <div>
            <div>
              <div class="c-footer-listing o-flow o-flow--xs step--1">
                <h3 class="step-0">{{ listing_section_title }}</h3>
                <ul>
                    <li>
                        <a
                            href="{{ logged_in ? {route:user.dashboard.index} : {route:login} }}"
                        >
                            Organisation Login
                        </a>
                    </li>
                </ul>
              </div>
            </div>
            <a href="https://www.artscouncil.org.uk/" class="c-footer_arts">
              <img src="/img/arts-council-england.png" alt="Arts Council England logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="c-footer_secondary">
      <div class="o-wrap">
        <a class="c-footer_secondary-wrapper" href="https://www.suffolklibraries.co.uk/">
          <img src="/img/logo.svg" alt="Suffolk Libraries Logo" />
          <p class="step--1">Suffolk Libraries HMRC charity number XT34476.<br />
            Registered company number IP031542.</p>
        </a>
      </div>
    </div>
  </footer>
{{ /global }}

{{ partial src="global/organisers" }}
