<header class="o-wrap c-top">
  <div class="c-top_lockup">
    <a href="/" class="c-top_logo tw-mb-0.5">
      <img src="/img/logo.svg" alt="Suffolk Libraries - " />

      <img src="/img/logo-2.svg" alt="Let's get creative" />
    </a>

    <nav class="c-top_nav">
      {{ partial src="global/nav" }}
    </nav>

    <a class="c-top_more" href="#nav" aria-label="More +: View the full menu">More +</a>

    <nav class="c-top_nav-overlay" id="nav">
      {{ partial src="global/nav" }}
    </nav>
  </div>
</header>
<script>
(function() {
  function throttle (callback, limit) {
    var wait = false;
    return function () {
      if (!wait) {
        callback.call();
        wait = true;
        setTimeout(function () {wait = false;}, limit);
      }
    }
  }

  var nav = document.querySelector('.c-top_nav');
  var navOverlay = document.querySelector('.c-top_nav-overlay');
  var more = document.querySelector('.c-top_more');
  var hidingMore = false;

  if (!nav || !more || !navOverlay) return;

  var firstChild = nav.querySelector('.c-top_menu > :first-child');
  var lastChild = nav.querySelector('.c-top_menu > :last-child');
  if (!firstChild || !lastChild) return;

  function onHeaderResize() {
    try {
      const allShowing = firstChild.offsetTop === lastChild.offsetTop || window.innerWidth >= 1364;

      if (allShowing && !hidingMore) {
        more.classList.add('js-hidden')
        hidingMore = true;
      } else if (!allShowing && hidingMore) {
        more.classList.remove('js-hidden')
        hidingMore = false;
      }
    } catch (e) {}
  }

  function togglePanel(forceClose = false) {
    const isOpen = forceClose || navOverlay.classList.contains('target');
    navOverlay.classList.toggle('target', !isOpen);
    more.textContent = !isOpen ? 'Less -' : 'More +';
  }

  window.addEventListener('resize', throttle(onHeaderResize, 100));
  onHeaderResize();
  setTimeout(onHeaderResize, 0);

  more.addEventListener('click', function(event) {
    event.preventDefault();
    togglePanel();
  })

  document.body.addEventListener('click', function(event) {
    try {
      if (navOverlay.classList.contains('target')) {
        if (event.target === more) return;
        if (event.target.closest('.c-top_nav-overlay')) return;
        event.preventDefault();
        togglePanel(true)
      }
    } catch (e) {}
  });
})();
</script>
