<ul class="c-top_menu">
  {{ nav:main }}
    {{ if url == '/spotlight' }}
      {{ collection:spotlights limit="1" sort="date:desc" as="spotlights" }}
        {{ spotlights }}
          <li><a href="{{ url }}">Spotlight</a></li>
        {{ /spotlights }}
      {{ /collection:spotlights }}
    {{ else }}
      <li>
        <a
            {{ if handles_users }}
                href="{{ logged_in ? {route:user.dashboard.index} : {route:user.login} }}"
            {{ else }}
                href="{{ url }}"
            {{ /if }}
        >
            {{ title }}
        </a>
    </li>
    {{ /if }}
  {{ /nav:main }}
</ul>
