{{ paginate }}
    {{ if total_pages > 1 }}
        <div role="navigation" aria-label="Event Pagination Navigation">
            <ul class="c-pagination o-flow js-pagination">
                {{ if prev_page }}
                    <li class="prev">
                        <a href="{{ prev_page + {regular ? '#regular-events' : ''} }}" aria-label="Go to previous page - page {{ current_page - 1 }}">
                            {{ partial:global/icon id="arrow-left" class="u-green" }}
                            <span>Previous</span>
                        </a>
                    </li>
                {{ else }}
                    <li class="prev disabled">
                        <span>
                            {{ partial:global/icon id="arrow-left" class="u-green" }}
                            <span>Previous</span>
                        </span>
                    </li>
                {{ /if }}

                {{ links:all }}
                    {{ if page === 1 }}
                        <li>
                            <a
                                href="{{ url + {regular ? '#regular-events' : ''} }}"
                                {{ if page === current_page }}
                                    aria-label="Current page, page {{ page }}"
                                    aria-current="page"
                                {{ else }}
                                    aria-label="Go to page {{ page }}"
                                {{ /if }}
                            >
                                {{ page }}
                            </a>
                        </li>
                    {{ /if }}

                    {{ if page >= current_page - 2 && page <= current_page + 2 && page != 1 && page != total_pages }}
                        <li class="{{ page === current_page ? 'active' : '' }}">
                            <a
                                href="{{ url + {regular ? '#regular-events' : ''} }}"
                                {{ if page === current_page }}
                                    aria-label="Current page, page {{ page }}"
                                    aria-current="page"
                                {{ else }}
                                    aria-label="Go to page {{ page }}"
                                {{ /if }}
                            >
                                {{ page }}
                            </a>
                        </li>
                    {{ else }}
                        {{ if page === current_page - 3  || page === current_page + 3 }}
                            <li class="disabled marker"><span>...</span></li>
                        {{ /if }}
                    {{ /if }}

                    {{ if page === total_pages }}
                        <li class="{{ page === current_page ?= 'active' }}">
                            <a
                                href="{{ url + {regular ?= '#regular-events'} }}"
                                {{ if page === current_page }}
                                    aria-label="Current page, page {{ page }}"
                                    aria-current="page"
                                {{ else }}
                                    aria-label="Go to page {{ page }}"
                                {{ /if }}
                            >
                                {{ page }}
                            </a>
                        </li>
                    {{ /if }}
                {{ /links:all }}

                {{ if next_page }}
                    <li class="next">
                        <a href="{{ next_page + {regular ? '#regular-events' : ''} }}" aria-label="Go to next page - page {{ current_page + 1 }}">
                            <span>Next</span>
                            {{ partial:global/icon id="arrow-right" class="u-green" }}
                        </a>
                    </li>
                {{ else }}
                    <li class="disabled next">
                        <span>
                            <span>Next</span>
                            {{ partial:global/icon id="arrow-right" class="u-green" }}
                        </span>
                    </li>
                {{ /if }}
            </ul>
        </div>
    {{ /if }}
{{ /paginate }}
